
<!DOCTYPE html>
<html>
  <head>
    <title>Персональний Менеджер Фінансів</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }



      p {
        margin: 0;
        font-size: 18px;
      }

      section {
        background-color: #f8f8f8;
        padding: 20px;
        text-align: center;
      }

      footer {
        background-color: #333;
        color: white;
        padding: 20px;
        text-align: center;
      }

      

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Персональний Менеджер Фінансів</h1>
      </header>
    <section>
      <h2>Ласкаво просимо до Персонального Менеджера Фінансів!</h2>
      <p>Тут ви зможете відстежувати свої витрати та прибутки, а також створювати звіти та аналізувати свої фінанси.</p>
      
    </section>
    </body>
</html>