<html>
	
	<head>
		<style>
		footer {
  	text-align: center;
  	padding: 3px;
  	background-color: DarkSalmon;
  	color: white;
		}

		
		</style>
	</head>
  <body>

		<footer>
  		<p>Author: Олександр <br>
  		<a href="https://courses.prometheus.org.ua/">Розробка вебдодатків на Ruby від SoftServe</a></p>
		</footer>	

	</body>
	

</html>

