<div id="<%= dom_id category %>">
</div>

<div class="card text-bg-secondary mb-3" style="max-width: 100rem;">
  <h3 class="card-header">Name: <%= category.name %></h3>
    <h5 class="card-header">Description: <%= category.description %></h5>  
</div>