<h1>Reports#index</h1>


<div class="button-container">
 
<form action="report_by_category" method="GET"><input type="submit" value="Report by category"><br>
</form>
<form action="report_by_dates" method="GET"><input type="submit" value="Report by dates"><br>
</form>
</div>