<h1>Editing operation</h1>

<%= render "form", operation: @operation %>

<br>

<div>
  <%= link_to "Show this operation", [@category, @operation] %> |
  <%= link_to "Back to operations", category_operations_path(@category) %>
</div>
